solAritmetica/UTaritmetica/Connected Services/srvAritmetica/WSaritmetica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50020/WSaritmetica.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAritmetica" />
  <xs:element name="Sumar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero1" type="xs:int" />
        <xs:element minOccurs="0" name="numero2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfAritmetica" minOccurs="0" name="SumarResult" nillable="true" type="q1:clsAritmetica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>